.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


.dates {
    text-align: center;
}

.navbar {
    flex-wrap: nowrap;
}

#top-enroll-btn {
    margin-bottom: 30px;
}

h2#about, h2#ferrum, h2#contact {
    margin-bottom: 40px;
    margin-top: 15px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}